@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.main-div{
    width: 1440px;
    /* width: 100%; */
    /* height: 500px; */
    margin: auto;
    border: 1px solid black;
    background: #F5F8FF;
}

.navbar{
    width: 1250px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    align-items: center;
}

/* .navbar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: ;
    background-size: cover;
    background-position: center;
    filter: blur(10px); 
    z-index: -1; 
} */

.navbar div:nth-child(1) > img{
    width: 130px;
    height: 28px;
    cursor: pointer;
}

.navbar div:nth-child(2){
    display: flex;
    justify-content: space-around;
    gap: 35px;
    border: 0.77px solid #FFFFFF;
    background: #FFFFFF99;
    padding: 0 20px;
    width: 400px;
    height: 50px;
    align-items: center;
    border-radius: 15px;
    font-size: 13px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

.navbar div:nth-child(2) > .nav-about{
    color: #8987A1;
    font-weight: 400;
    cursor: pointer;
}

.navbar div:nth-child(3){
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
}
.navbar div:nth-child(3) > p {
    margin: 10px;
    color: #8987A1;
    cursor: pointer;
}

.navbar div:nth-child(3) > button{
    width: 101px;
    height: 36px;
    border-radius: 7.68px;
    background: #4E47FF;
    border: none;
    /* font-family: "Raleway", sans-serif;
    font-size: 13px; */
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer;
}

/* first container  */
.first-container{
    width: 590px;
    margin: auto;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 80px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
.first-container > div:first-child{
    font-size: 56px;
}
.first-container > div:nth-child(2) > button{
    width: 162px;
    height: 46px;
    border-radius: 8px;
    border: none;
    background: #252432;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 27px;
    cursor: pointer;
}

/* .second-container */

.second-container{
    width: 1250px;
    /* height: 500px; */
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 155px;
}
.second-container > p{
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    
}
.second-container > div{
    display: flex;
    justify-content: space-between;
    font-family: "Inter", sans-serif; 
}
.second-container > div > div:first-child{
    display: flex;
    width: 920px;
}
.second-container > div > .left-div{
    display: flex;
    flex-direction: column;
}
.second-container .left-div > .left-one {
    display: flex;
    justify-content: space-between;
    margin: 32px 0;
}
.second-container .left-div > .left-one > div {
    width: 280px;
    height: 252px;
    background: white;
    /* border: 1px solid green; */
    padding: 30px 23px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.second-container .left-div > .left-one > div > div:first-child,.img-icon{
    width: 44px;
    height: 44px;
    background-color: #F5F8FF;
    border-radius: 9px;
    text-align: center;
}
.second-container .left-div > .left-one > div > div:first-child img,.img-icon img{
    width: 24px;
    height: 24px;
    margin-top: 10px;
}
.second-container .left-div > .left-one > div > .p-first,.below-p-first{
    font-weight: 600;
    font-size: 19px;
    padding: 18px 0;
}
.second-container .left-div > .left-one > div > .p-second,.below-p-second{
    font-weight: 400;
    font-size: 14px;
    color: #8987A1;
}
.second-container .left-div > .below-one{
    display: flex;
    justify-content: space-between;
}
.second-container .left-div > .below-one > div:first-child{
    display: flex;
    justify-content: space-between;
    padding: 30px 23px;
    width: 595px;
    height: 252px;
    /* border: 1px solid red; */
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.second-container .left-div > .below-one > div:first-child > div:first-child{
    width: 310px;
    height: 214px;
    /* border: 1px solid yellow; */
}
.second-container .left-div > .below-one > div:first-child > .w-img{
    width: 218px;
    height: 214px;
    background: #4E47FF;
    border-radius:10px;
    text-align: center;
}
.second-container .left-div > .below-one > div:first-child > .w-img img{
    margin-top: 80px;
}
.second-container .left-div > .below-one > .below-one-second-div{
    width: 280px;
    height: 252px;
    padding: 30px 23px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}

.second-container > div > div:nth-child(2){
    width: 280px;
    margin: 32px 0;
    padding: 30px 23px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* border: 2px solid blue; */
}
.second-container > div > div:nth-child(2) .e-commerce-img{
    margin-top: 25px;
    width: 238px;
    height: 257px;
}
/* second-container end */


/* third container  */
.third-container{
    display: flex;
    justify-content: space-between;
    padding: 0 115px;
    width: 1250px;
    height: 200px;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 217px;
    align-items: center;
}
.third-container > div:first-child{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: white;
    text-align: center;
}
.third-container > div:nth-child(3){
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: white;
    text-align: center;
}
.third-container > div img{
    width: 34px;
    margin-top: 20px;
    align-items: center;
}
.third-container > div:nth-child(2){
    width: 455px;
    margin: auto;
    text-align: center;
}
.third-container > div:nth-child(2) > p:first-child{
    font-size: 60px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;   
}
.third-container > div:nth-child(2) > p:nth-child(2){
    font-size: 14px;
    font-family: "Inter", sans-serif; 
    font-weight: 400;
    color:#8987A1;
    padding-top: 32px;
}

 /* third-container ends */

/* fourth-container  */
.fourth-container{
    width: 1250px;
    margin: auto;
    /* border: 1px solid red; */
    margin-top: 86px;
    margin-bottom: 86px;
    
}
.fourth-container > div{
    display: flex;
    justify-content: space-evenly;
    width: 409px;
    height: 83px;
    margin: auto;
    border-radius: 22px;
    background: white;
    /* border: 1px solid yellow; */
    align-items: center;
    text-align: center;
}
.fourth-container >div > div:first-child > img{
    width: 170px;
}

.fourth-container >div> div:nth-child(2) > p{
    font-size: 16px;
    font-family: "Inter", sans-serif; 
    font-weight: 600;
    
}
.fourth-container > div> div:nth-child(2) span{
    color: #8987A1;
}
.fourth-container > div> div:nth-child(2) > div img{
    margin-left: -115px;
    margin-top: 5px;
}



/* fifth-container  */
.fifth-container{
    width: 1250px;
    margin: auto;
}
.fifth-container > div{
    display: flex;
    justify-content: space-evenly;  
    margin: 0 50px; 
}
.fifth-container > div > div:first-child{
    width: 387px;
    /* height: 500px; */
    /* border: 1px solid red; */
}
.fifth-container > div > div:first-child > p:first-child{
    font-family: "Raleway", sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-top: 40px;
}
.fifth-container > div > div:first-child > p:nth-child(2),.unlimited-services{
    font-size: 16px;
    color:#8987A1;
    font-family :"Inter" ,sans-serif;
    font-weight: 400;
    margin-top: 16px;
    margin-bottom: 70px;
}
.fifth-container > div > div:first-child > div{
    width: 385px;
    height: 238px;
    background: white;
    border-radius: 20px;
    padding: 28px 26px;
}
.fifth-container > div > div:first-child > div > p{
    font-size: 34px;
    font-weight: 700;
    font-family: "Raleway",sans-serif;
    margin-bottom: 80px;
}
.fifth-container > div > div:first-child > div >button{
    width: 335px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    font-family: "Raleway",sans-serif;
    color: white;
    background: #4E47FF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.fifth-container > div > div:nth-child(2){
    width: 624px;
    /* height: 500px; */
    /* border: 1px solid blue; */
    padding: 43px 50px;
    background: white;
    border-radius: 20px;
}
.fifth-container > div > div:nth-child(2) > p:first-child{
    font-size: 30px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
}
.fifth-container > div > div:nth-child(2) > div{
    display: flex;
    gap: 120px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.fifth-container > div > div:nth-child(2) > div >div > div {
    display: flex;
    align-items: center;
    
}
.fifth-container > div > div:nth-child(2) > div >div p{
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.fifth-container > div > div:nth-child(2) > div >div img{
    margin: 13px;
}
.fifth-container > div > div:nth-child(2) > .pricing-amount{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 525px;
    height: 127px;
    margin-top: 40px;
    background: #F5F8FF;
    border-radius: 10px;
}
.fifth-container > div > div:nth-child(2) > .pricing-amount > div > p{
    font-size: 60px;
    font-family: "Inter",sans-serif;
    font-weight: 700;
}
.fifth-container > div > div:nth-child(2) > .pricing-amount > div span{
    font-size: 20px;
    font-family: "Inter",sans-serif;
    color: #8987A1;
}

/* sixth-container */
.sixth-container{
    display: flex;
    width: 1250px;
    margin: auto;
    justify-content: space-evenly;
}
.sixth-container > div:first-child{
    margin-top: 270px;
    width: 454px;
    height: 500px;
    /* border: 1px solid red; */
}
.sixth-container > div:first-child > p {
    font-family: "Raleway",sans-serif;
    font-size: 60px;
    font-weight: 700;
}
.sixth-container > div:nth-child(2){
    margin-top: 170px;
    width: 696px;
    height: 500px;
    /* border: 1px solid blue; */
}

.sixth-container > div:nth-child(2) > div{
    display: flex;
    width: 690px;
    height: 70px;
    justify-content: space-between;
    background:white;
    align-items: center;
    padding: 0 30px;
    border-radius: 10px;
    margin: 16px;
}
.sixth-container > div:nth-child(2) > div > p {
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 700;
}


/* seventh-container */
.seventh-container{
    width: 1250px;
    margin: auto;
    /* border: 1px solid red; */
    text-align: center;
}
.seventh-container > p{
    font-size: 60px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    margin-bottom: 70px;
}
.seventh-container > div{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 696px;
    margin: auto;
}
.seventh-container > div > p{
    font-size: 18px;
    font-family: "Inter",sans-serif;
    font-weight: 700;
    padding: 10px 0;
    margin-left: -610px;
}
.seventh-container > div input,textarea{
    width: 696px;
    height: 70px;
    padding: 0 20px;
    border: 1px solid #D6DDED;
    background: #F5F8FF;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Raleway",sans-serif;
}
.seventh-container > div > button{
    height: 62px;
    margin-top: 25px;
    background: #4E47FF;
    border:none;
    border-radius: 10px;
    font-size: 16px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    color: white;
    cursor: pointer;
    margin-bottom: 150px;
}


